In [1]:
from sklearn.metrics import classification_report

In [2]:
import pandas as pd

In [3]:
titanic = pd.read_csv('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt')

In [4]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
row.names    1313 non-null int64
pclass       1313 non-null object
survived     1313 non-null int64
name         1313 non-null object
age          633 non-null float64
embarked     821 non-null object
home.dest    754 non-null object
room         77 non-null object
ticket       69 non-null object
boat         347 non-null object
sex          1313 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 112.9+ KB

In [7]:
X = titanic[['pclass', 'age', 'sex']]

In [8]:
y = titanic['survived']

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       633 non-null float64
sex       1313 non-null object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB

In [10]:
X

     pclass      age     sex
0       1st  29.0000  female
1       1st   2.0000  female
2       1st  30.0000    male
3       1st  25.0000  female
4       1st   0.9167    male
5       1st  47.0000    male
6       1st  63.0000  female
7       1st  39.0000    male
8       1st  58.0000  female
9       1st  71.0000    male
10      1st  47.0000    male
11      1st  19.0000  female
12      1st      NaN  female
13      1st      NaN    male
14      1st      NaN    male
15      1st  50.0000  female
16      1st  24.0000    male
17      1st  36.0000    male
18      1st  37.0000    male
19      1st  47.0000  female
20      1st  26.0000    male
21      1st  25.0000    male
22      1st  25.0000    male
23      1st  19.0000  female
24      1st  28.0000    male
25      1st  45.0000    male
26      1st  39.0000    male
27      1st  30.0000  female
28      1st  58.0000  female
29      1st      NaN    male
...     ...      ...     ...
1283    3rd      NaN  female
1284    3rd      NaN    male
1285    3rd      NaN    male
1286    3rd      NaN    male
1287    3rd      NaN    male
1288    3rd      NaN    male
1289    3rd      NaN    male
1290    3rd      NaN    male
1291    3rd      NaN    male
1292    3rd      NaN    male
1293    3rd      NaN  female
1294    3rd      NaN    male
1295    3rd      NaN    male
1296    3rd      NaN    male
1297    3rd      NaN    male
1298    3rd      NaN    male
1299    3rd      NaN    male
1300    3rd      NaN    male
1301    3rd      NaN    male
1302    3rd      NaN    male
1303    3rd      NaN    male
1304    3rd      NaN  female
1305    3rd      NaN    male
1306    3rd      NaN  female
1307    3rd      NaN  female
1308    3rd      NaN    male
1309    3rd      NaN    male
1310    3rd      NaN    male
1311    3rd      NaN  female
1312    3rd      NaN    male

[1313 rows x 3 columns]

In [11]:
X['age'].fillna(X['age'].mean(), inplace = True)

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [12]:
X

     pclass        age     sex
0       1st  29.000000  female
1       1st   2.000000  female
2       1st  30.000000    male
3       1st  25.000000  female
4       1st   0.916700    male
5       1st  47.000000    male
6       1st  63.000000  female
7       1st  39.000000    male
8       1st  58.000000  female
9       1st  71.000000    male
10      1st  47.000000    male
11      1st  19.000000  female
12      1st  31.194181  female
13      1st  31.194181    male
14      1st  31.194181    male
15      1st  50.000000  female
16      1st  24.000000    male
17      1st  36.000000    male
18      1st  37.000000    male
19      1st  47.000000  female
20      1st  26.000000    male
21      1st  25.000000    male
22      1st  25.000000    male
23      1st  19.000000  female
24      1st  28.000000    male
25      1st  45.000000    male
26      1st  39.000000    male
27      1st  30.000000  female
28      1st  58.000000  female
29      1st  31.194181    male
...     ...        ...     ...
1283    3rd  31.194181  female
1284    3rd  31.194181    male
1285    3rd  31.194181    male
1286    3rd  31.194181    male
1287    3rd  31.194181    male
1288    3rd  31.194181    male
1289    3rd  31.194181    male
1290    3rd  31.194181    male
1291    3rd  31.194181    male
1292    3rd  31.194181    male
1293    3rd  31.194181  female
1294    3rd  31.194181    male
1295    3rd  31.194181    male
1296    3rd  31.194181    male
1297    3rd  31.194181    male
1298    3rd  31.194181    male
1299    3rd  31.194181    male
1300    3rd  31.194181    male
1301    3rd  31.194181    male
1302    3rd  31.194181    male
1303    3rd  31.194181    male
1304    3rd  31.194181  female
1305    3rd  31.194181    male
1306    3rd  31.194181  female
1307    3rd  31.194181  female
1308    3rd  31.194181    male
1309    3rd  31.194181    male
1310    3rd  31.194181    male
1311    3rd  31.194181  female
1312    3rd  31.194181    male

[1313 rows x 3 columns]

In [13]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       1313 non-null float64
sex       1313 non-null object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB

In [14]:
from sklearn.cross_validation import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 33)

In [16]:
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer(sparse = False)

In [17]:
X_train

     pclass        age     sex
1086    3rd  31.194181    male
12      1st  31.194181  female
1036    3rd  31.194181    male
833     3rd  32.000000    male
1108    3rd  31.194181    male
562     2nd  41.000000    male
437     2nd  48.000000  female
663     3rd  26.000000    male
669     3rd  19.000000    male
507     2nd  31.194181    male
1167    3rd  31.194181    male
821     3rd   9.000000    male
327     2nd  32.000000  female
715     3rd  21.000000    male
308     1st  31.194181  female
1274    3rd  31.194181    male
640     3rd  40.000000    male
72      1st  70.000000    male
1268    3rd  31.194181    male
1024    3rd  31.194181    male
1047    3rd  31.194181  female
940     3rd  31.194181    male
350     2nd  20.000000  female
892     3rd  31.194181    male
555     2nd  30.000000  female
176     1st  36.000000    male
107     1st  31.194181  female
475     2nd  34.000000  female
330     2nd  23.000000    male
533     2nd  34.000000    male
...     ...        ...     ...
235     1st  24.000000    male
465     2nd  22.000000  female
210     1st  31.194181    male
579     2nd  40.000000  female
650     3rd  23.000000    male
1031    3rd  31.194181    male
99      1st  24.000000  female
969     3rd  31.194181    male
535     2nd  31.194181    male
403     2nd  31.194181    male
744     3rd  45.000000    male
344     2nd  26.000000    male
84      1st  31.194181    male
528     2nd  20.000000    male
1270    3rd  31.194181    male
662     3rd  40.000000    male
395     2nd  42.000000    male
1196    3rd  31.194181    male
543     2nd  23.000000    male
845     3rd  31.194181    male
813     3rd  25.000000    male
61      1st  31.194181  female
102     1st  23.000000  female
195     1st  28.000000    male
57      1st  27.000000    male
1225    3rd  31.194181    male
658     3rd  31.194181  female
578     2nd  12.000000  female
391     2nd  18.000000    male
1044    3rd  31.194181  female

[984 rows x 3 columns]

In [18]:
X_train = vec.fit_transform(X_train.to_dict(orient='record'))

In [19]:
X_train

array([[31.19418104,  0.        ,  0.        ,  1.        ,  0.        ,
         1.        ],
       [31.19418104,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [31.19418104,  0.        ,  0.        ,  1.        ,  0.        ,
         1.        ],
       ...,
       [12.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        ],
       [18.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        ],
       [31.19418104,  0.        ,  0.        ,  1.        ,  1.        ,
         0.        ]])

In [20]:
print(vec.feature_names_)

['age', 'pclass=1st', 'pclass=2nd', 'pclass=3rd', 'sex=female', 'sex=male']

In [21]:
X_test = vec.transform(X_test.to_dict(orient='record'))

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
dtc = DecisionTreeClassifier()

In [24]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [25]:
y_predict = dtc.predict(X_test)

In [26]:
from sklearn.metrics import classification_report

In [27]:
print(dtc.score(X_test, y_test))

0.7811550151975684

In [28]:
print(classification_report(y_predict, y_test, target_names=['died', 'survived']))

             precision    recall  f1-score   support

       died       0.91      0.78      0.84       236
   survived       0.58      0.80      0.67        93

avg / total       0.81      0.78      0.79       329