In [5]:
import pandas as pd

In [6]:
titanic = pd.read_csv('d:/Data/Python2Kaggle/titanic/titanic.txt')

In [7]:
X = titanic[['pclass', 'age', 'sex']]
X

     pclass      age     sex
0       1st  29.0000  female
1       1st   2.0000  female
2       1st  30.0000    male
3       1st  25.0000  female
4       1st   0.9167    male
5       1st  47.0000    male
6       1st  63.0000  female
7       1st  39.0000    male
8       1st  58.0000  female
9       1st  71.0000    male
10      1st  47.0000    male
11      1st  19.0000  female
12      1st      NaN  female
13      1st      NaN    male
14      1st      NaN    male
15      1st  50.0000  female
16      1st  24.0000    male
17      1st  36.0000    male
18      1st  37.0000    male
19      1st  47.0000  female
20      1st  26.0000    male
21      1st  25.0000    male
22      1st  25.0000    male
23      1st  19.0000  female
24      1st  28.0000    male
25      1st  45.0000    male
26      1st  39.0000    male
27      1st  30.0000  female
28      1st  58.0000  female
29      1st      NaN    male
...     ...      ...     ...
1283    3rd      NaN  female
1284    3rd      NaN    male
1285    3rd      NaN    male
1286    3rd      NaN    male
1287    3rd      NaN    male
1288    3rd      NaN    male
1289    3rd      NaN    male
1290    3rd      NaN    male
1291    3rd      NaN    male
1292    3rd      NaN    male
1293    3rd      NaN  female
1294    3rd      NaN    male
1295    3rd      NaN    male
1296    3rd      NaN    male
1297    3rd      NaN    male
1298    3rd      NaN    male
1299    3rd      NaN    male
1300    3rd      NaN    male
1301    3rd      NaN    male
1302    3rd      NaN    male
1303    3rd      NaN    male
1304    3rd      NaN  female
1305    3rd      NaN    male
1306    3rd      NaN  female
1307    3rd      NaN  female
1308    3rd      NaN    male
1309    3rd      NaN    male
1310    3rd      NaN    male
1311    3rd      NaN  female
1312    3rd      NaN    male

[1313 rows x 3 columns]

In [8]:
y = titanic['survived']
y

0       1
1       0
2       0
3       0
4       1
5       1
6       1
7       0
8       1
9       0
10      0
11      1
12      1
13      1
14      0
15      1
16      0
17      0
18      1
19      1
20      1
21      0
22      1
23      1
24      1
25      0
26      1
27      1
28      1
29      0
       ..
1283    0
1284    0
1285    0
1286    0
1287    0
1288    0
1289    1
1290    0
1291    0
1292    0
1293    1
1294    0
1295    0
1296    0
1297    0
1298    0
1299    0
1300    0
1301    0
1302    1
1303    0
1304    1
1305    0
1306    0
1307    0
1308    0
1309    0
1310    0
1311    0
1312    0
Name: survived, Length: 1313, dtype: int64

In [9]:
X['age'].fillna(X['age'].mean(), inplace=True)
X

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

     pclass        age     sex
0       1st  29.000000  female
1       1st   2.000000  female
2       1st  30.000000    male
3       1st  25.000000  female
4       1st   0.916700    male
5       1st  47.000000    male
6       1st  63.000000  female
7       1st  39.000000    male
8       1st  58.000000  female
9       1st  71.000000    male
10      1st  47.000000    male
11      1st  19.000000  female
12      1st  31.194181  female
13      1st  31.194181    male
14      1st  31.194181    male
15      1st  50.000000  female
16      1st  24.000000    male
17      1st  36.000000    male
18      1st  37.000000    male
19      1st  47.000000  female
20      1st  26.000000    male
21      1st  25.000000    male
22      1st  25.000000    male
23      1st  19.000000  female
24      1st  28.000000    male
25      1st  45.000000    male
26      1st  39.000000    male
27      1st  30.000000  female
28      1st  58.000000  female
29      1st  31.194181    male
...     ...        ...     ...
1283    3rd  31.194181  female
1284    3rd  31.194181    male
1285    3rd  31.194181    male
1286    3rd  31.194181    male
1287    3rd  31.194181    male
1288    3rd  31.194181    male
1289    3rd  31.194181    male
1290    3rd  31.194181    male
1291    3rd  31.194181    male
1292    3rd  31.194181    male
1293    3rd  31.194181  female
1294    3rd  31.194181    male
1295    3rd  31.194181    male
1296    3rd  31.194181    male
1297    3rd  31.194181    male
1298    3rd  31.194181    male
1299    3rd  31.194181    male
1300    3rd  31.194181    male
1301    3rd  31.194181    male
1302    3rd  31.194181    male
1303    3rd  31.194181    male
1304    3rd  31.194181  female
1305    3rd  31.194181    male
1306    3rd  31.194181  female
1307    3rd  31.194181  female
1308    3rd  31.194181    male
1309    3rd  31.194181    male
1310    3rd  31.194181    male
1311    3rd  31.194181  female
1312    3rd  31.194181    male

[1313 rows x 3 columns]

In [10]:
from sklearn.cross_validation import train_test_split

C:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=33)

In [12]:
type(X_train)

pandas.core.frame.DataFrame

In [13]:
from sklearn.feature_extraction import DictVectorizer

In [14]:
vec = DictVectorizer()

In [15]:
X_train = vec.fit_transform(X_train.to_dict(orient='record'))

In [16]:
X_test = vec.transform(X_test.to_dict(orient='record'))

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
rfc = RandomForestClassifier()

In [19]:
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [20]:
print('The accuracy of Random Forest Classifier on testing set:', rfc.score(X_test, y_test))

The accuracy of Random Forest Classifier on testing set: 0.7872340425531915

# XGBoost

In [21]:
from xgboost import XGBClassifier

In [22]:
xgbc = XGBClassifier()

In [25]:
xgbc.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [27]:
print('The accuracy of eXtreme gradient Boosting Classfifier on testing set:', xgbc.score(X_test, y_test))

The accuracy of eXtreme gradient Boosting Classfifier on testing set: 0.7872340425531915

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: